################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JugendSpracheZählerUI/.vs/JugendSpracheZählerUI/FileContentIndex
/JugendSpracheZählerUI/obj/Debug/net8.0-windows/JugendSpracheZählerUI.assets.cache
/JugendSpracheZählerUI/.vs/JugendSpracheZählerUI/v17
